.Rproj.user
.Rhistory
.RData
.Ruserdata
McPherron 2018/mcpherron_2018.RDS
*.3dl
*.ply
Herzlinger and Goren-Inbar 2019/data/Items_Attributes.xlsx
Herzlinger and Goren-Inbar 2019/data/*.png
Herzlinger and Goren-Inbar 2019/data/*.3dl
Herzlinger and Goren-Inbar 2019/data/*.ply

Mraz et al 2019/mraz_2020.RDS
Mraz et al 2019/Data/mraz_2020.RDS
Reti 2015/data/RetiPLOSONEData.xlsx
Reti 2015/data/~$RetiPLOSONEData.xlsx
Rezek et al 2018/data/diagnostic_fcns.R
Rezek et al 2018/data/Flake_data.csv
Rezek et al 2018/data/Rezek_et_al_2018_CODE.R
Rezek et al 2018/data/Summary_data.csv
Rezek et al 2018/data/three_d_plot.R
